<h1>All Creameries</h1>
<% @creameries.each do |creamery| %>
  <h2><p><%= creamery.name %></p></h2>
  <p><%= link_to "Update #{creamery.name}", "/creameries/#{creamery.id}/edit" %> </p>
  <p><%= link_to "Delete #{creamery.name}", "/creameries/#{creamery.id}", id: "creamery-#{creamery.id}", method: :delete %></p>
  <p>Created At: <%= creamery.created_at %></p>
<% end %>