<form action="/creameries" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <h3>Add a creamery to the database:</h3>
    <p>Name:</p>
    <input type='text' name='name'/><br/>
    <p>Date founded (DDMMYYYY):</p>
    <input type='text' name='date_founded'/><br/>
    <p>Owners/Founders:</p>
    <input type='text' name='owner'/><br/>
    <p>Head Cheesemaker:</p>
    <input type='text' name='head_cheesemaker'/><br/>
    <p>Location (State):</p>
    <input type='text' name='location'/><br/>
    <p>Is this a farmstead operation?</p>
    <input type='text' name='farmstead'/><br/>
    <p>Acreage (if the creamery is a farmstead operation)</p>
    <input type='text' name='acreage'/><br/>
    <p>Awards won:</p>
    <textarea name='awards_won'></textarea><br/>
    <input type='submit' name='Create Creamery'/>
</form>